.section {
    padding-bottom: 60px;
}

.section__header {
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 2px 5px #6b6a6a;
    width: 100%;
}

.section__paragraph {
    margin: auto;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 2px 5px #6b6a6a;
    line-height: 1.5;
    width: 650px;
}

.section__paragraph--important {
    color: green;
}

.section__paragraph--important:hover {
    color: hsl(120, 100%, 20%);
    transition: 0.2s;
}

.section__list {
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 2px 5px #6b6a6a;
    line-height: 1.5;
    width: 650px;
    padding: 15px;
}

.section__list--important {
    font-weight: 700;
}

.section__list__item {
    font-size: 16px;
    margin-left: 22px;
}